<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.novel.mapper.CrawlSourceMapper">
    
    <resultMap type="CrawlSource" id="CrawlSourceResult">
        <result property="id"    column="id"    />
        <result property="sourceName"    column="source_name"    />
        <result property="crawlRule"    column="crawl_rule"    />
        <result property="sourceStatus"    column="source_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCrawlSourceVo">
        select id, source_name, crawl_rule, source_status, create_time, update_time from crawl_source
    </sql>

    <select id="selectCrawlSourceList" parameterType="CrawlSource" resultMap="CrawlSourceResult">
        <include refid="selectCrawlSourceVo"/>
        <where>  
            <if test="sourceName != null  and sourceName != ''"> and source_name like concat('%', #{sourceName}, '%')</if>
            <if test="crawlRule != null  and crawlRule != ''"> and crawl_rule = #{crawlRule}</if>
            <if test="sourceStatus != null "> and source_status = #{sourceStatus}</if>
        </where>
    </select>
    
    <select id="selectCrawlSourceById" parameterType="Long" resultMap="CrawlSourceResult">
        <include refid="selectCrawlSourceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCrawlSource" parameterType="CrawlSource" useGeneratedKeys="true" keyProperty="id">
        insert into crawl_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourceName != null">source_name,</if>
            <if test="crawlRule != null">crawl_rule,</if>
            <if test="sourceStatus != null">source_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourceName != null">#{sourceName},</if>
            <if test="crawlRule != null">#{crawlRule},</if>
            <if test="sourceStatus != null">#{sourceStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCrawlSource" parameterType="CrawlSource">
        update crawl_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="sourceName != null">source_name = #{sourceName},</if>
            <if test="crawlRule != null">crawl_rule = #{crawlRule},</if>
            <if test="sourceStatus != null">source_status = #{sourceStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCrawlSourceById" parameterType="Long">
        delete from crawl_source where id = #{id}
    </delete>

    <delete id="deleteCrawlSourceByIds" parameterType="String">
        delete from crawl_source where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>